config
/logs
/PCL
/saves
/resourcepacks
/shaderpacks
/screenshots
/ct-natives
/crash-reports
.vscode
/defaultconfigs
/lightspeed-cache
/local
/localconfigs
/pachouli_books
/thingpacks
/Xaero*
/modernfix
ct.*
enigmatic_persistence.*
patchouli_data.json
rhino.local.properties
user*
tic4.jar
tic4.json
options.txt
CTI.jar
abs.jar
CTI.json
/config
